.servicebox {
  height: 30vh;
  background: #00175f;
  // text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  // border: 2px solid #c8c8c8;
  border-bottom-width: 16px;
  // border-radius: 6px;
  color: white;
  transition: 1s all;

  @media (max-width: 1280px) {
    height: 20vh;
  }

  &__container {
    width: 20%;
    padding: 4px;

    @media (max-width: 1280px) {
      padding: 2px;
    }

    @media (min-width: 1921px) {
      padding: 8px;
    }
  }

  &__content {
    height: 100%;
  }

  &__line {
    // background: white;
    padding: 8px 12px;
    color: white;
    opacity: 1;
    font-weight: 700;
    font-size: 3rem;
    font-family: Montserrat;

    @media (max-width: 1280px) {
      font-size: 2rem;
      padding: 6px 8px;
    }

    @media (min-width: 1921px) {
      font-size: 6rem;
      padding: 12px 24px; 
    }
  }

  &__platform {
    padding: 12px;
    margin-top: auto;
    font-size: 1.2rem;

    small {
      opacity: .8;
      display: inline-block;
      line-height: 1.4rem;
    }

    @media (max-width: 1280px) {
      small {
        line-height: .6rem;
      }
      font-size: .5rem;
    }

    @media (min-width: 1921px) {
      small { line-height: 2.8rem }
      font-size: 2.4rem;
    }
  }

  &__status {
    // background: white;
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: .8rem;

    img {
      height: 16px;
      margin-right: 8px;
    }

    @media (max-width: 1280px) {
      margin-top: 6px;
      font-size: .6rem;

      img { height: 12px }
    }

    @media (min-width: 1921px) {
      margin-top: 12px;
      font-size: 2.2rem;

      img { height: 40px; margin-right: 16px; }
    }
  }

  &--frozen {
    opacity: .6;
    transform: scale(.8);
  }
}
